
<h3>MY DASHBOARD</h3>
<div id="superset">
     <iframe frameborder="0"> </iframe>
</div> 


<!-- <meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval' http://localhost:8088/api/v1/chart/"> -->

<!-- <!DOCTYPE html>
    <head>
      <meta charset="UTF-8" id="mymeta">
      <meta name="viewport" content="width=device-width, initial-scale=1">
<html lang="en">
  <title>Superset</title>
  <script src="https://unpkg.com/@superset-ui/embedded-sdk"> </script>
  <style>
    iframe {
      width: 100%;
      height: 50%;
      border: none;
    }
      pretext {
        margin-right: 10%;
        margin-left: 10%;
        font-family: Tahoma;
      }
  </style>
</head>
<body>


  <div class="pretext">
    <h1>My DASHBOARD</h1> 
    <p id="superset"></p> 
    <script>
        supersetEmbeddedSdk.embedDashboard(
          { 
            id: '', // given by the Superset embedding UI
            supersetDomain: 'http://localhost:8088',  
            mountPoint: document.getElementById("superset"),
            fetchGuestToken: () =>  "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyIjp7InVzZXJuYW1lIjoibXlBcHBVc2VyIiwiZmlyc3RfbmFtZSI6Ik15QXBwIFVzZXIiLCJsYXN0X25hbWUiOiJNeUFwcCBVc2VyIn0sInJlc291cmNlcyI6W3sidHlwZSI6ImRhc2hib2FyZCIsImlkIjoiMDU2OWYyOTAtMzkxZi00ZTIxLTkwOWYtZmUxNzE3MjdhOWY5In1dLCJybHNfcnVsZXMiOlt7ImNsYXVzZSI6ImN1c3RvbWVyX2lkPTQifV0sImlhdCI6MTY5ODY1ODI4Mi41NTMyNDc3LCJleHAiOjE2OTg2NTg1ODIuNTUzMjQ3NywiYXVkIjoiaHR0cDovLzAuMC4wLjA6ODA4MC8iLCJ0eXBlIjoiZ3Vlc3QifQ.DDXEhRqRnEjrMfhDpb_Mf4kvTD3GuMAwB8SnY70XzwU", 
            dashboardUiConfig: { // dashboard UI config: hideTitle, hideTab, hideChartControls, filters.visible, filters.expanded (optional)
              hideTitle: true,
              hideChartControls: true,
              hideTab: true,
                  filters: {
                  expanded: false,
              }
            },
          }
         );
        </script>
      </div>
      </body>
      </html>
 -->





